<ul class="artiscles__ul">
    <% data.forEach(post => { %>
        <li><a href="/post/<%= post._id %>">
            <span>
                <%= post.title %>
            </span>
            <span class="artiscles-list__date">
                <%= post.createdAt.toDateString() %>
            </span>
        </a></li>
    <% }) %>
</ul>