<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
    <h1 style="width: 100%; text-align: center;">Add new post</h1>
</div>

<form action="/edit-post/:id" method="post">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Enter title" name="title" value="<%= data.title %>">

    <label for="Content"><b>Content</b></label>
    <textarea name="body" id="" cols="30" rows="10"><%= data.body %></textarea>
    <input type="submit" value="Edit" class="btn">
</form>
