<h1 style="text-align: center;">Sign in</h1>    
<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password">
    
    <input type="submit" value="Login" class="btn">
</form>

<!-- <h1 style="text-align: center;">Sign up</h1>    
<form action="/register" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password">
    
    <input type="submit" value="Register" class="btn register">
</form> -->