@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root{
    --black : #1c1c1c;
    --gray : #7E7E7E;
    --gray-light : #E4E4E4;
    --red : #b30000;
    --font-size-base: 1rem;/* thuong bang 16px */
    --font-size-medium: clamp(1.25rem,0.61vw+1.1rem,1.58rem);
    --font-size-lg: clamp(1.56rem,1vw+1.31rem,2.11rem);
    --font-size-xl: clamp(2.44rem,2.38vw+1.85rem,3.75rem);
    --border-radius :10px
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color:#FAF5EE;
    background-image: url('/img/img-noise-361x370.png');
    margin: 0;
}

input[type="text"] ,
input[type="email"] ,
input[type="password"],  
input[type="search"] ,
select,
textarea{
    font-family: 'Poppins', sans-serif; /* nếu k thì no sẽ là font mặc định */
    font-size: var(--font-size-base);
    display:block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75 rem;
    margin-bottom: 1rem;
}
.btn{
    background-color: var(--black);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-delete{
    padding: 10px 16px;
    background-color: var(--red);

}
img{
    width: 100%;
    height: auto;
}
/* layout */
.container{
    max-width: 982px;
}